@import '@radix-ui/themes/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.radix-themes {
  --default-font-family: var(--font-inpin);
  --heading-font-family: var(--font-vina-sans);
  --font-size-6: 40px;
}

h1,
h2,
h3 {
  margin: 0;
}

/* Animations */

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
